<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="register.component.css">
</head>
<body>

<div class="center-container">
  <div class="center-login">
    <h2 id="register" class="text-white text-center">Registrazione</h2>
    <form (ngSubmit)="submitRegister(registerForm)" #registerForm="ngForm">
      <div class="form-group">
        <label for="name" class="text-white"><i class="fas fa-user fa-fw me-2"></i>Nome:</label>
        <input type="text" id="name" [(ngModel)]="registerRequest.nome" name="nome" class="form-control" required #nome="ngModel">
        <div *ngIf="nome.invalid && nome.touched" style="color: white">
          Nome obbligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="surname" class="text-white"><i class="fas fa-user fa-fw me-2"></i>Cognome:</label>
        <input type="text" id="surname" [(ngModel)]="registerRequest.cognome" name="cognome" class="form-control" required #cognome="ngModel">
        <div *ngIf="cognome.invalid && cognome.touched" style="color: white">
          Cognome obbligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="text-white"><i class="fas fa-envelope fa-fw me-2"></i>Email:</label>
        <input type="email" id="email" [(ngModel)]="registerRequest.email" name="email" class="form-control" required email #email="ngModel">
        <div *ngIf="email.invalid && email.touched" style="color: white">
          <div *ngIf="email.errors?.['required']">Email obbligatoria</div>
          <div *ngIf="email.errors?.['email']">Formato email non valido</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="text-white"><i class="fas fa-lock fa-fw me-2"></i>Password:</label>
        <input type="password" id="password" [(ngModel)]="registerRequest.password" name="password" class="form-control" required minlength="3" #password="ngModel">
        <div *ngIf="password.invalid && password.touched" style="color: white">
          <div *ngIf="password.errors?.['required']">Password obbligatoria</div>
          <div *ngIf="password.errors?.['minlength']">La password deve essere lunga almeno 3 caratteri</div>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-light" [disabled]="registerForm.invalid"><i class="fas fa-user-plus fa-fw me-2"></i>Registrati</button>
      </div>
    </form>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
