<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Footer</title>
  <link rel="stylesheet" href="footer.component.css">
</head>
<body>

<footer class="text-center text-white">

  <div class="container">
    <section class="mt-5">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" class="text-white">About us</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" class="text-white">Prodotti</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" class="text-white">Awards</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" class="text-white">Help</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#" class="text-white">Contatti</a>
          </h6>
        </div>
      </div>
    </section>

    <hr class="my-4" style="border-top: 1px solid #818181;">
    <section class="text-center mb-5">
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>

  <div class="text-center p-3 copyright">
    © 2024 Gabriele Guidera
  </div>

</footer>
</body>
</html>
