<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="stylesheet" href="about-us.component.css">

</head>
<body>

<!-- SEZIONE BAND -->
<div id="about-us-section" class="container">
  <div class="text-center my-5">
    <h2>ABOUT US</h2>
    <p>A Best Weather, crediamo che comprendere il tempo sia essenziale per vivere al meglio ogni giornata. La nostra missione è semplice: trasformare dati meteorologici complessi in informazioni chiare e utili per tutti. Con l'uso di tecnologie all'avanguardia e algoritmi avanzati, siamo in grado di fornirvi previsioni che vanno oltre il semplice "sole o pioggia", offrendovi dettagli che possono fare la differenza nella vostra pianificazione quotidiana. Non ci limitiamo a leggere i numeri. Il nostro team composto da Mario Rossi, Federico Romano e Lorenzo Verdi, esamina ogni dato con attenzione e precisione, utilizzando modelli meteorologici sofisticati per interpretare e prevedere le condizioni atmosferiche. Ogni previsione è il risultato di un mix di competenza scientifica e passione per la meteorologia, garantendo così un servizio che non è solo accurato, ma anche adattato alle vostre esigenze.</p>
  </div>

  <div class="row">
    <div class="col-md-4 band-member">
      <h5 class="name-overlay">Mario Rossi</h5>
      <img src="https://i.ibb.co/sCq5yk7/Persona.png" alt="">
    </div>
    <div class="col-md-4 band-member">
      <h5 class="name-overlay">Federico Romano</h5>
      <img src="https://i.ibb.co/sCq5yk7/Persona.png" alt="">
    </div>
    <div class="col-md-4 band-member">
      <h5 class="name-overlay">Lorenzo Verdi</h5>
      <img src="https://i.ibb.co/sCq5yk7/Persona.png" alt="">
    </div>
  </div>
</div>

</body>
</html>
