body{
  margin-top: -35px;

}

.search-bar {
  margin-bottom: 30px;
}

.input-group {
  max-width: 500px;
  margin: 0 auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
}


@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

button{
  background-color: #141719;
  color: #FFF;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;
}

button:hover{
  background-color: #282E33;
}

h2 {
  margin-top: 120px;
  margin-bottom: -100px;
  font-size: 40px;
}
